
button{
  font-family: roboto;
  font-size: 12px;
  text-transform: uppercase;
  color: #ceeefb;
  background:#1b1e24;
/*   background: #2890bc; */
/*   text-align:left; */
  width:100%;
  outline:0;
  border:0;
  padding:15px;
/*   text-transform: uppercase; */
  border-radius: .15rem;
  margin-top: 50px

}

button:hover, form button:active, form button:focus{
  background: #055E85; 
}
button{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

button {
    -webkit-appearance: button;
}
