
<div class="container">
<fieldset class="corrected-ex">
  <h3>Exam Name: <span id="exFuncname"></span> &amp; Student Username: <span id="studentName"></span>  

  <span style="float:right" id="overall-grade-span"></span>
  </h3>
  <br>
    <fieldset class="questions" id="questions">
      <!-- <div id="qData">
      Question 1. - dificulty: <span id="dificulty"></span><br>
        Your code: <span id="yourcode"></span><br>
        Expected Function name <span id="expFunc"></span> |
        Your Function name <span id="yourFunc"></span> |
        Earned <span id="earned"></span> out of <span id="qtotal"></span> possible points.
        <br>
        <div id="q1"></div> 
        
      <div> -->
      
    </fieldset>
    <br><br><br>
  <label for="comment">Overall Comment: </label>
  <textarea placeholder="Leave a comment about the overall performance." rows="10" cols="85" id="comment" name="comment" style="resize:none;overflow: auto;"></textarea>
</fieldset>

<button onclick="submitExam();" type="button" id="submit-exam">Submit Exam</button>

</div>

