<link rel=stylesheet href="css/questions.css">
<link rel=stylesheet href="css/tables.css">
<script src="js/createQ.js"></script>

<div class="container">
<fieldset class="typeQ">
	<legend><h3>Set question parameters.</h3></legend>
	<label>Question Dificulty 
		<select name="question-dif" class="question-sel" id="question-dif">
		<option value="" disabled selected>----</option>
		<option value="easy">Easy</option>
		<option value="medium">Medium</option>
		<option value="hard">Hard</option>
	</select></label><br>
	<label>Question Type
		<select name="question-type" class="question-sel" id="question-type">
		<option value="" disabled selected>----</option>
		<option value="for loop">For loop</option>
		<option value="while loop">While loop</option>
		<option value="if/else statement">If/else/elif</option>
	</select></label>

</fieldset>
<fieldset class="makeQ" >
	<p> Write a function named <input type="text" name="newQues" id="newQues" size="30" placeholder="functionName">	
	that takes 
	<select name="argsAmount" id="argsAmount">
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
	arguments and <br><br>
	<input type="text" name="newExplanation" id="newExplanation" size="80" placeholder="Explanation of what to do i.e. get square of value"></textarea>
	<br><br>
	<b> Testcases</b>
	<br>
	<p>Seperate by spaces (Use quotes if strings, leave empty if takes no arguments)</p>
	<!-- <label> -->
	<div class="testcases" id="testcases">

	</div>
	</p>
<div id="submit-notice" style="color:red; font-weight: bold;"></div>
<button type="button" onclick="addTestCase();" id="button-newCase" style="margin-top: 10px">Add TestCase</button>
<button type="button" onclick="submitQuestion();" id="button-newQuest" style="margin-top: 10px">Submit Question</button>
<button type="button" onclick="done();" id="button-done" style="margin-top: 10px">Leave</button>
</fieldset>





</div>	
