
<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel=stylesheet href="https://web.njit.edu/~ssd42/css/takeQuiz.css">
  <link rel=stylesheet href="https://web.njit.edu/~ssd42/css/grades.css">

  <!-- <script src="https://web.njit.edu/~ssd42/js/quizGen.js"></script>  -->
  <script src="https://web.njit.edu/~ssd42/js/deletequiz.js"></script> 
      
  <title>Login Form CS490</title>
  </head>
  
<body id="quizGenerator">

<div id="allQuizes"></div>

	<!-- <p> <h1>NOTE:</h1> This is getting quiz by id from the backend work on it, use 3 spaces instead of tabs and make sure to stay consistent</p> <br> -->



  <!-- main quiz that will be generated in the js -->
  <div id='aquiz'>
  	<div id="everything">
  	<p id="something"></p>
    <p id="submitted">
  	<button onclick="submitQuiz();" type="button" id='submit-button' style="width: 33%;">Submit</button>
    </p>
  </div>
  </div>

</body>
</html>
