
<link rel="stylesheet" type="text/css" href="css/tables.css">
<link rel="stylesheet" type="text/css" href="css/corrected.css">
<!-- <script type="text/javascript" src="js/corrected.js" ></script> -->

<div class="container">
<fieldset class="corrected-ex">
  <h3>Exam names: <span id="exFuncname"></span> &amp; Student name: <span id="studentName"></span>  

  <span style="float:right" id="overall-grade-span"></span>
  </h3>
  <br>
    <fieldset class="questions" id="questions">
         
    </fieldset>
    <br>
  <label for="comment" style="font-size:40px">Teacher Comment: </label><br>
  <span id="comment" name="comment"></span>
  <!-- <textarea rows="5" cols="55" id="comment" name="comment"></textarea> -->
</fieldset>
<!-- <button onclick="submitExam();" type="button" id="submit-exam">Submit Exam</button> -->
</div>