<div id="tc{}">

Parameters:
<input type="text" name="testcase{}" id="testcase{}" size="10" 	placeholder="ie. 1 2">

and expect <output name=""></output>
<input type="text" name="answer{}" id="answer{}" size="10" 	placeholder="ie. 3">
<button class="link" id="{}" onclick="removeTestcase(this.id);">&#10006;</button>
<br>
</div>



<!-- Type: 
<select name="testcase{}-inType" id="testcase{}-inType">
	<option value="int">int</option>
	<option value="float">float</option>
	<option value="string">string</option>
	<option value="bool">bool</option>
</select>
 -->